# Node files
**/node_modules/

# Dot folders and files never sync unless explicitly added
**/.*
**/.**/

# Dev files
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# Env variables
.env

# Secrets
nutshell-staging.json
nutshell-production.json
google-services.json
GoogleService-Info.plist
google-services-development.json
GoogleService-Info-development.plist
*.jks