// Write: create, update, delete
// Read: get, list

rules_version = '2'
service cloud.firestore {
  match /databases/{database}/documents {

    // Disallow all by default
    match /{document=**} {
      allow read, write: if false
    }


    // ///////////////////////////////
    // Public facing data
    // ///////////////////////////////
    match /users/{userUid} {
      // Write own, read others if logged in
      allow write: if request.auth.uid == userUid
      allow read: if request.auth.uid != null
    }
    match /userMeta/{userUid} {
      // Write own, read others if logged in
      allow write: if request.auth.uid == userUid
      allow read: if request.auth.uid != null
    }
    match /relationships/{relationshipId} {
      // Write if you are the follower, read only otherwise
      allow write: if resource == null || resource.data.follower == request.auth.uid
      allow read: if request.auth.uid != null
    }
    match /nutshells/{nutshellId} {
      // Write own, read others if logged in
      allow write: if resource == null || resource.data.owner == request.auth.uid
      allow read: if request.auth.uid != null
    }
    match /fingerprints/{userUid} {
      // Write own, read others if logged in
      allow write: if request.auth.uid == userUid
      allow read: if request.auth.uid != null
    }

    // ///////////////////////////////
    // Private data
    // ///////////////////////////////
    match /settings/{userUid} {
      // Write own, read others if logged in
      allow write, read: if request.auth.uid == userUid
    }
    match /inbox/{userUid} {
      // Write own, read others if logged in
      allow write, read: if request.auth.uid == userUid
    }

    // ///////////////////////////////
    // System data
    // ///////////////////////////////
    match /reportedAbuse/{reportUid} {
      // Only create new ones
      allow create: if request.auth.uid != null
      allow read, write: if get(/databases/$(database)/documents/specialPowers/$(request.auth.uid)).data.moderator == true
    }

    match /specialPowers/{userUid} {
      // Only create new ones
      allow read: if request.auth.uid == userUid
    }

    match /nutshells/{nutshellId} {
      // Write own, read others if logged in
      allow update: if get(/databases/$(database)/documents/specialPowers/$(request.auth.uid)).data.moderator == true
      allow delete: if get(/databases/$(database)/documents/specialPowers/$(request.auth.uid)).data.admin == true
    }

  }
}